<a type="submit" class="btn btn-lg btn-success" ng-click="showAddForm()">+</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="record in personaggi">
            <td>{{record.nome}}</td>
            <td>{{record.tipo}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row row-content" ng-show="showForm">
    <div class="col-xs-12">
        <h4>Aggiungi un personaggio</h4>
    </div>
    <div class="col-xs-12 col-sm-9" ng-controller="PersonaggiCtrl">
        <form class="form-horizontal" role="form" name="nuovoPersonaggioForm" ng-submit="inserisciPersonaggio()">
            <div class="form-group">
                <label for="nome" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nome" name="nome"
                           placeholder="Inserisci il nome" ng-model="nuovoPersonaggio.nome">
                </div>
            </div>

            <div class="form-group">
                <label for="nome" class="col-sm-2 control-label">Tipo</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="nuovoPersonaggio.tipo">
                        <option>Primario</option>
                        <option>Secondario</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Aggiungi</button>
                </div>
            </div>
        </form>
    </div>
</div>
